@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************* Font ******************************/

/* @import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap"); */

/*********************************************** ******************************************************/
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/************************************************************* Card *****************************************************/

.card {
  height: 170px;
  width: 100%;
  max-width: 350px;
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vip-bg {
  background: url("/src/assets/ressources/CARD/Vip.jpg") no-repeat center
    center/cover;
}
.elite-bg {
  background: url("/src/assets/ressources/CARD/Elite.jpg") no-repeat center
    center/cover;
}
.hero-bg {
  background: url("/src/assets/ressources/CARD/hero.jpg") no-repeat center
    center/cover;
}
.master-bg {
  background: url("/src/assets/ressources/CARD/Master.jpg") no-repeat center
    center/cover;
}
.mvp-bg {
  background: url("/src/assets/ressources/CARD/MVP.jpg") no-repeat center
    center/cover;
}
.pvp-bg {
  background: url("/src/assets/ressources/CARD/Pvp.jpg") no-repeat center
    center/cover;
}
.pvp2-bg {
  background: url("/src/assets/ressources/CARD/Pvp+.jpg") no-repeat center
    center/cover;
}
.airdrop-bg {
  background: url("/src/assets/ressources/CARD/Airdrop.jpg") no-repeat center
    center/cover;
}
.skinbox-bg {
  background: url("/src/assets/ressources/CARD/Skinbox.jpg") no-repeat center
    center/cover;
}

.qSkip-bg {
  background: url("/src/assets/ressources/CARD/Queue-skip.jpg") no-repeat center
    center/cover;
}
.weekly-bg {
  background: url("/src/assets/ressources/CARD/Weekly_pass.jpg") no-repeat
    center center/cover;
}

/*************************************************************************** Background *************************************************************************************/
.bgBody {
  background-image: radial-gradient(
      circle at center center,
      rgba(33, 33, 33, 0),
      rgb(33, 33, 33)
    ),
    repeating-linear-gradient(
      135deg,
      rgb(33, 33, 33) 0px,
      rgb(33, 33, 33) 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      45deg,
      rgb(56, 56, 56) 0px,
      rgb(56, 56, 56) 5px,
      transparent 5px,
      transparent 6px
    ),
    linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
}

.bgCardFooter {
  background-image: repeating-linear-gradient(
      135deg,
      hsla(190, 0%, 89%, 0.15) 0px,
      hsla(190, 0%, 89%, 0.15) 0px,
      transparent 0px,
      transparent 1px,
      hsla(190, 0%, 89%, 0.15) 1px,
      hsla(190, 0%, 89%, 0.15) 4px,
      transparent 4px,
      transparent 5px,
      hsla(190, 0%, 89%, 0.15) 5px,
      hsla(190, 0%, 89%, 0.15) 10px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(190, 0%, 89%, 0.15) 0px,
      hsla(190, 0%, 89%, 0.15) 0px,
      transparent 0px,
      transparent 1px,
      hsla(190, 0%, 89%, 0.15) 1px,
      hsla(190, 0%, 89%, 0.15) 4px,
      transparent 4px,
      transparent 5px,
      hsla(190, 0%, 89%, 0.15) 5px,
      hsla(190, 0%, 89%, 0.15) 10px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(190, 0%, 89%, 0.15) 0px,
      hsla(190, 0%, 89%, 0.15) 0px,
      transparent 0px,
      transparent 1px,
      hsla(190, 0%, 89%, 0.15) 1px,
      hsla(190, 0%, 89%, 0.15) 4px,
      transparent 4px,
      transparent 5px,
      hsla(190, 0%, 89%, 0.15) 5px,
      hsla(190, 0%, 89%, 0.15) 10px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(190, 0%, 89%, 0.15) 0px,
      hsla(190, 0%, 89%, 0.15) 0px,
      transparent 0px,
      transparent 1px,
      hsla(190, 0%, 89%, 0.15) 1px,
      hsla(190, 0%, 89%, 0.15) 4px,
      transparent 4px,
      transparent 5px,
      hsla(190, 0%, 89%, 0.15) 5px,
      hsla(190, 0%, 89%, 0.15) 10px
    ),
    linear-gradient(90deg, rgb(251, 251, 251), rgb(251, 251, 251));
}

.bgFooter {
  background-image: repeating-linear-gradient(
      67.5deg,
      hsla(145, 0%, 97%, 0.2) 0px,
      hsla(145, 0%, 97%, 0.2) 0px,
      transparent 0px,
      transparent 1px,
      hsla(145, 0%, 97%, 0.2) 1px,
      hsla(145, 0%, 97%, 0.2) 4px,
      transparent 4px,
      transparent 5px,
      hsla(145, 0%, 97%, 0.2) 5px,
      hsla(145, 0%, 97%, 0.2) 8px
    ),
    repeating-linear-gradient(
      0deg,
      hsla(145, 0%, 97%, 0.2) 0px,
      hsla(145, 0%, 97%, 0.2) 0px,
      transparent 0px,
      transparent 1px,
      hsla(145, 0%, 97%, 0.2) 1px,
      hsla(145, 0%, 97%, 0.2) 4px,
      transparent 4px,
      transparent 5px,
      hsla(145, 0%, 97%, 0.2) 5px,
      hsla(145, 0%, 97%, 0.2) 8px
    ),
    linear-gradient(135deg, rgb(237, 237, 237), rgb(199, 199, 199));
}

/*********************************** Gradient Text **********************************/

.gradH1 {
  background: #ff8a00;
  background: -webkit-linear-gradient(
    to left,
    #ff8a00 0%,
    #dee50e 41%,
    #e52e71 100%
  );
  background: -moz-linear-gradient(
    to left,
    #ff8a00 0%,
    #dee50e 41%,
    #e52e71 100%
  );
  background: linear-gradient(to left, #ff8a00 0%, #dee50e 41%, #e52e71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/********************************** Modal ************************************************/

#overlay {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
#modal {
  max-width: 1400px;
  min-width: 300px;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 200;
}


/**************************** Animation CSS *****************************************/

#modal {
  animation: apparition 0.3s ease-out;
}

@keyframes apparition {
  from {
    opacity: 0;
    top: 10%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
